<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-3 col-6 px-md-2">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <a href="/<%= data.path %>?user=<%= data.User.ID %>" class="text-dark">
                        <img src="<%= data.User.AnhDaiDien %>" alt="" class="img-avatar" /><br>
                        <p>Tôi</p>
                    </a>
                </div>
            </div>
        </div>
 
        <% data.TV.forEach(function(item){ %>
        <div class="col-lg-2 col-sm-3 col-6 px-md-2">
            <div class="card card-hover">
                <div class="box bg-light text-center">
                    <a href="/<%= data.path %>?user=<%= item.IDTK %>" class="text-dark">
                        <img src="<%= item.AnhDaiDien %>" alt="" class="img-avatar" /><br>
                        <p><%= item.HoTen %></p>
                    </a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>