<!-- this CSS -->
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/assets/libs/select2/dist/css/select2.min.css" />

<div class="container-fluid">
    <form method="post">
    <div class="card">
        <!-- Tab panes -->
        <div class="py-2">
            <div class="row">
                <div class="col-md-6 px-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"><strong>Bệnh nhân điều trị:</strong></th>
                                <td><%= data.BN.ID %> - <%= data.BN.HoTen %></td>
                                <input type="hidden" name="IDBenhNhan" value="<%= data.BN.ID %>">
                            </tr>
                            <tr>
                                <th scope="row"><strong>Bác sĩ điều trị:</strong></th>
                                <td><a href=""><%= data.User.ID %> - <%= data.User.HoTen %></a></td>
                                <input type="hidden" name="IDBacSiDieuTri" value="<%= data.User.ID %>">
                            </tr>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Bệnh điều trị:</strong></th>
                                <td><a href=""><%= data.Benh.TenBenh %></a></td>
                                <input type="hidden" name="IDBenh" value="<%= data.Benh.ID %>">
                            </tr>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Thời gian:</strong></th>
                                <td>
                                    <input placeholder="Từ ngày" type="text" class="input-sm form-control"
                                        name="datepicker1" id="thoigian1" /><br>
                                    <input placeholder="đến ngày" type="text" class="input-sm form-control"
                                        name="datepicker2" id="thoigian2" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 px-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Tên kế hoạch:</strong></th>
                                <td>
                                    <input type="text" class="form-control" name="TenKeHoach" value="<%= data.KH.TenKeHoach %>" placeholder="Tên kế hoạch">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Phương pháp điều trị:</strong>
                                </th>
                                <td>
                                    <input type="text" class="form-control" name="PhuongPhapDieuTri" value="<%= data.KH.PhuongPhapDieuTri %>"
                                        placeholder="Phương pháp điều trị">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Nội dung điều trị:</strong></th>
                                <td>
                                    <textarea class="form-control" name="NoiDungDieuTri"><%= data.KH.NoiDungDieuTri %></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Nhập viện:</strong></th>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="nhapvien" name="NhapVien" <% if(data.KH.NhapVien){%> checked<%}%>>
                                        <label class="form-check-label mb-0" for="nhapvien">Cần phải nhập viện</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Đã hoàn thành:</strong></th>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="hoanthanh" name="TrangThai" <% if(data.KH.TrangThai){%> checked<%}%>>
                                        <label class="form-check-label mb-0" for="hoanthanh">Yes</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <% if(data.KH.IDBacSiDieuTri==data.User.ID){%>
    <input class="btn btn-primary text-light" type="submit" style="float: right;margin: 20px;" value="Lưu" name="btnCapNhapKH">
    <%}%>
    </form>
    <div style="clear: both;"></div>
    <%if(data.User.LoaiTK==2){%>
    <h4 class="page-title">Đặt lịch hẹn</h4>
    <form method="post" action="/phong-kham">
    <div class="card">
        <div class="py-2">
            <div class="row">
                <div class="col-md-6 px-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"><strong>Bệnh nhân điều trị:</strong></th>
                                <td><%= data.BN.ID %> - <%= data.BN.HoTen %></td>
                                <input type="hidden" name="IDBenhNhan" value="<%= data.BN.ID %>">
                            </tr>
                            <tr>
                                <th scope="row"><strong>Bác sĩ điều trị:</strong></th>
                                <td><a href=""><%= data.User.ID %> - <%= data.User.HoTen %></a></td>
                                <input type="hidden" name="IDBacSi" value="<%= data.User.ID %>">
                            </tr>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Bệnh điều trị:</strong></th>
                                <td><a href=""><%= data.Benh.TenBenh %></a></td>
                                <input type="hidden" name="BenhCanKham" value="<%= data.Benh.TenBenh %>">
                            </tr>
                            <input type="hidden" name="TrieuChung" value="<%= data.KH.NoiDungDieuTri %>"/>
                            <input type="hidden" name="IDKH" value="<%= data.KH.ID %>"/>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 px-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Ngày khám bênh:</strong></th>
                                <td>
                                    <input type="text" class="form-control" name="ThoiGianKhamBenh" id="NgayKhamBenh"
                                    readonly />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" style="vertical-align: middle;"><strong>Hình thức:</strong>
                                </th>
                                <td>
                                    <select id="HinhThuc" name="HinhThuc" class="form-control">
                                        <option value="-1">---Lựa chọn---</option>
                                        <option value="0">Online</option>
                                        <option value="1">Tại bệnh viện</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Khung giờ:</strong></th>
                                <td>
                                    <select id="KhungGio" name="IDKhungGio" class="form-control">

                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary text-light" type="submit" style="float: right;margin: 20px;" value="Đặt hẹn" name="btnDatHen"/>
    </form>
    <div style="clear: both;"></div>
    <%}%>
    <h4 class="page-title">Lịch hẹn điều trị</h4>
    <div class="card">
        <div class="py-2">
            <ul>
                <% data.Lich.forEach(function(item){ %>
                <li> <a href="/lich-kham/chi-tiet-lich-kham/<%= item.ID %>"><%= item.TenKeHoach %></a> (<em><%= item.ThoiGianKhamBenh %></em>) - <strong><%= item.TrangThai %></strong></li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<!-- this page js -->
<script src="/static/dist/js/jquery.ui.touch-punch-improved.js"></script>
<script src="/static/dist/js/jquery-ui.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $('#thoigian1').datepicker({
        format: "dd/mm/yyyy",
    });
    $('#thoigian2').datepicker({
        format: "dd/mm/yyyy",
    });
    $(".thuoc-combo").select2({
        theme: "classic"
    });

    var ThoiGian="<%= data.KH.ThoiGian %>";
    var startDay=ThoiGian.split("-")[0].trim();
    var endDay=ThoiGian.split("-")[1].trim()
    $("#thoigian1").val(startDay)
    $("#thoigian2").val(endDay)

    $('#NgayKhamBenh').datepicker({
        format: "dd/mm/yyyy",
        minDate: startDay,
        maxDate: endDay
    });
    $('#NgayKhamBenh').on('change', function () {
        $('#KhungGio').html('');
        if ($('#HinhThuc').val()) {
            getKhungGio();
        }
    });
    $('#HinhThuc').on('change', function () {
        $('#KhungGio').html('');
        if ($('#NgayKhamBenh').val()) {
            getKhungGio();
        }
    });
    function getKhungGio() {
        $.ajax({
            url: '/phong-kham',
            type: 'POST',
            dataType: 'json',
            data: {
                IDBacSi:<%= data.User.ID %>,
                ThoiGianKhamBenh: $("#NgayKhamBenh").val(),
                HinhThuc: $("#HinhThuc").val(),
                GetAjax: true
            }
        }).done(function (ketqua) {
            ketqua.forEach(element => {
                $('#KhungGio').html($('#KhungGio').html() + '<option value="' + element.ID + '">' + element.GioBatDau + ' đến ' + element.GioKetThuc + '</option>');
            });
        });
    }

    
</script>