<!-- css -->
<link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/static/dist/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<!-- End csss-->

<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ảnh đại diện</th>
                            <th>Họ tên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.DSDT.forEach(function(item){ %>
                        <tr> 
                            <td><%= item.ID %></td>
                            <td>
                                <img src="<%= item.AnhDaiDien %>" alt="" width="70px" />
                            </td>
                            <td><%= item.HoTen %></td>
                            <td>
                                <% if(item.GioiTinh==1){%> Nam <%}%>
                                <% if(item.GioiTinh==0){%> Nữ <%}%>
                                <% if(item.GioiTinh==2){%> Khác <%}%>
                            </td>
                            <td><%= item.NgaySinh %></td>
                            <td>
                                <a href="/thong-tin/<%= item.ID %>">
                                    <button type="button" class="btn btn-outline-info">Xem chi tiết</button>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--js add-->
<script src="/static/assets/extra-libs/DataTables/datatables.min.js"></script>

<script>
    $("#zero_config").DataTable();
</script>