<!-- css -->
<link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/static/dist/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<!-- End csss-->

<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên kế hoạch</th>
                            <th scope="col">Phương pháp</th>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.KH.forEach(function(item){ %>
                        <tr>
                            <th scope="row"><%= item.ID %></th>
                            <td><%= item.TenKeHoach %></td>
                            <td><%= item.PhuongPhapDieuTri %></td>
                            <td><%= item.ThoiGian %></td>
                            <td>
                                <%if(item.TrangThai){%> Hoàn thành <%}%>
                                <%if(!item.TrangThai){%> Chưa hoàn thành <%}%>
                            </td>
                            <td>
                                <a href="/benh-nhan/<%= data.IDBN %>/chi-tiet-ke-hoach/<%= item.ID %>">Xem chi tiết</a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--js add-->
<script src="/static/assets/extra-libs/DataTables/datatables.min.js"></script>

<script>
    $("#zero_config").DataTable();
</script>